@import 'tailwindcss';
@import 'tw-animate-css';
@import '@wallet-ui/tailwind/index.css';

@custom-variant dark (&:is(.dark *));

/* Minimal Tailwind utilities for layout and wallet adapter styling */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

.wallet-adapter-button-trigger {
  height: auto !important;
  @apply !border !px-2 !py-[6px] !rounded-md !text-sm !font-semibold !shadow-sm !transition-all;
}
