[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
upgradeable = true

[programs.localnet]
opinions_market_engine = "8zZcmGeJ6KXSnSyewB7vfLUrYVLfibh6UP3qPujQoeaa"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/Documents/evil-twitter/opinions-market-engine/.secrets/assFUvBMqjyWvtRLEbWXuN84T4UdTihCjfzC8JaXtrh.json"

[scripts]
test = "cargo test -- --nocapture"



[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false