[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
opinions_market_engine = "8zZcmGeJ6KXSnSyewB7vfLUrYVLfibh6UP3qPujQoeaa"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
