[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
upgradeable = true

[programs.localnet]
opinions_market = "4z5rjroGdWmgGX13SdFsh4wRM4jJkMUrcvYrNpV3gezm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/Documents/evil-twitter/opinions-market-engine/.secrets/assFUvBMqjyWvtRLEbWXuN84T4UdTihCjfzC8JaXtrh.json"

[scripts]
test = "cargo test -- --nocapture"
