[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
upgradeable = true

[programs.localnet]
opinions_market = "4z5rjroGdWmgGX13SdFsh4wRM4jJkMUrcvYrNpV3gezm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/Documents/evil-twitter/opinions-market/.secrets/assFUvBMqjyWvtRLEbWXuN84T4UdTihCjfzC8JaXtrh.json"

[scripts]
test = "cargo test -- --nocapture"
#local = "cargo run -p bootstrap"

local = """
pkill solana-test-validator || true;
solana config set --url http://127.0.0.1:8899;
solana config set --keypair ~/Documents/evil-twitter/opinions-market/.secrets/assFUvBMqjyWvtRLEbWXuN84T4UdTihCjfzC8JaXtrh.json;
solana-test-validator --reset > /dev/null 2>&1 & sleep 3;
solana airdrop 0.01;
anchor build;
anchor deploy;
cargo run -p bootstrap
pwd
cp "$(pwd)/target/idl/opinions_market.json" "$(pwd)/../privy-frontend/src/lib/solana/idl/opinions_market.json"
cp "$(pwd)/target/idl/opinions_market.json" "$(pwd)/../evil-twitter-backend/src/solana/idl/opinions_market.json"
"""


