[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
upgradeable = true

[programs.localnet]
opinions_market = "4z5rjroGdWmgGX13SdFsh4wRM4jJkMUrcvYrNpV3gezm"
persona = "3bE1UxZ4VFKbptUhpFwzA1AdXgdJENhRcLQApj9F9Z1d"
referrals = "44Ti52xtPRNGHBrWWpWFFWHzngCQChCzoEPeLWxeRFxC"
fed = "GLQEgZvtw6JdtF4p1cGsDBh3ucCVrmpZjPuyzqp6yMTo"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/Documents/evil-twitter/opinions-market/.secrets/assFUvBMqjyWvtRLEbWXuN84T4UdTihCjfzC8JaXtrh.json"


# [[test.genesis]]
# address = "3bE1UxZ4VFKbptUhpFwzA1AdXgdJENhRcLQApj9F9Z1d"
# program = "./target/deploy/persona.so"
# upgradeable = true

# [[test.genesis]]
# address = "44Ti52xtPRNGHBrWWpWFFWHzngCQChCzoEPeLWxeRFxC"
# program = "./target/deploy/referrals.so"
# upgradeable = true

# [[test.genesis]]
# address = "GLQEgZvtw6JdtF4p1cGsDBh3ucCVrmpZjPuyzqp6yMTo"
# program = "./target/deploy/fed.so"
# upgradeable = true


[scripts]
test = "cargo test -- --nocapture"

local = """
set -a
source .env
set +a

export CLUSTER=localnet

pkill solana-test-validator || true;
solana config set --url http://127.0.0.1:8899;
solana config set --keypair $ANCHOR_WALLET_PATH;
solana-test-validator --reset & sleep 3;
solana airdrop 0.01;
anchor build;
anchor deploy --provider.cluster localnet -- --upgrade-authority $ANCHOR_WALLET_PATH
cargo run -p bootstrap
pwd
cp "$(pwd)/target/idl/opinions_market.json" "$(pwd)/../privy-frontend/src/lib/solana/target/localnet/idl/opinions_market.json"
cp "$(pwd)/target/types/opinions_market.ts" "$(pwd)/../privy-frontend/src/lib/solana/target/localnet/target/opinions_market.ts"

cp "$(pwd)/target/idl/opinions_market.json" "$(pwd)/../evil-twitter-backend/src/solana/target/localnet/idl/opinions_market.json"
cp "$(pwd)/target/types/opinions_market.ts" "$(pwd)/../evil-twitter-backend/src/solana/target/localnet/types/opinions_market.ts"
"""

devnet-deploy = """
set -a
source .env
set +a

export CLUSTER=devnet

pkill solana-test-validator || true;
solana config set --url https://api.devnet.solana.com;
solana config set --keypair $ANCHOR_WALLET_PATH;

anchor build;
anchor deploy --provider.cluster devnet -- --upgrade-authority $ANCHOR_WALLET_PATH
cargo run -p bootstrap
pwd
cp "$(pwd)/target/idl/opinions_market.json" "$(pwd)/../privy-frontend/src/lib/solana/target/devnet/idl/opinions_market.json"
cp "$(pwd)/target/types/opinions_market.ts" "$(pwd)/../privy-frontend/src/lib/solana/target/devnet/target/opinions_market.ts"

cp "$(pwd)/target/idl/opinions_market.json" "$(pwd)/../evil-twitter-backend/src/solana/target/devnet/idl/opinions_market.json"
cp "$(pwd)/target/types/opinions_market.ts" "$(pwd)/../evil-twitter-backend/src/solana/target/devnet/types/opinions_market.ts"
"""
